<!DOCTYPE html>
<html lang="en">
<head>
    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

    @RenderBody()
    <!-- js placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
